@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

@if(Model.League != null){
    <div class="photo-badge home-badge">
        <img src="@Model.League.Flag" class="rounded">
    </div>
    <div class="product-name">
        <span>@Model.League.Country</span>
    </div>
    <div class="product-name">
        <div class="photo-badge home-badge">
            <img src="@Model.League.Logo" class="rounded">
        </div>
        <span>@Model.League.Name Season: @Model.League.Season</span>
    </div>
}

<kendo-tabstrip name="tabstrip">

    <items>
        <tabstrip-item text="Comparison">
            <content>
                <partial name="_Comparison" model="@Model" />
            </content>
        </tabstrip-item>
    </items>

</kendo-tabstrip>

<!-- styles placed here as they are being accessed by partial scripts
that do not react will with style sheets being brought in via a link
(I preseume becasue of render and fetching order. Answers on a postcard please)-->
<style>

    .k-card {
        width: 285px;
        margin: 5%;
    }

    .k-card-footer {
        text-align: center;
    }

    #tabstrip-parent,
    #tabstrip {
        height: 100%;
        margin: 0;
        padding: 0;
        border-width: 0;
    }

    .photo-badge {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        float: right;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-right: 5px;
    }

    .home-badge {
        float: left;
    }

    .away-badge {
        float: right;
    }

    .product-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

</style>

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
  
}


