@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

@if(Model.League != null){
    <div class="photo-badge home-badge">
        <img src="@Model.League.Flag" class="rounded">
    </div>
    <div class="product-name">
        <span>@Model.League.Country</span>
    </div>
    <div class="product-name">
        <div class="photo-badge home-badge">
            <img src="@Model.League.Logo" class="rounded">
        </div>
        <span>@Model.League.Name Season: @Model.League.Season</span>
    </div>
}

<kendo-tabstrip name="tabstrip">

    <items>
        <tabstrip-item text="Comparison">
            <content>
                <partial name="_Comparison" model="@Model" />
            </content>
             
        </tabstrip-item>

         <tabstrip-item text="League form">
            <content>
               <partial name="_LeagueForm" model="@Model" />
            </content>

        </tabstrip-item>
    </items>

</kendo-tabstrip>

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
}


