@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

@if(Model.League != null){

    <div class="badge-name">
        <img src="@Model.League.Flag" class="rounded photo-badge home-badge ">
        <span>@Model.League.Country</span>
    </div>
    <div class="badge-name">
        <img src="@Model.League.Logo" class="rounded photo-badge home-badge">
        <span>@Model.League.Name Season: @Model.League.Season</span>
    </div>
    @if (Model.Teams.Home != null)
    {
        <partial name="_IndividualTeam" model="@Model.Teams.Home" />
    }
    @if (Model.Teams.Away != null)
    {
        <partial name="_IndividualTeam" model="@Model.Teams.Away" />
    }
}
<div class="right">
    <kendo-tabstrip name="tabstrip">

        <items>
            <tabstrip-item text="Comparison">
                <content>
                    <partial name="_Comparison" model="@Model" />
                </content>

            </tabstrip-item>

            <tabstrip-item text="League form">
                <content>
                    <partial name="_Form" model="@Model.Teams" />
                </content>

            </tabstrip-item>

            <tabstrip-item text="Prediction">
                <content>
                    <partial name="_Predictions" model="@Model" />
                </content>

            </tabstrip-item>

        </items>

    </kendo-tabstrip>
</div>


@section styles {
    <link rel="stylesheet" href="~/css/prediction.css" />
}


