@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

@if (Model.Teams.Home != null && Model.Teams.Away != null)
{
   <h5>These are the predictions for @Model.Teams.Home.Name vs @Model.Teams.Away.Name</h5>
    <div class="image">

        <img src="@Model.Teams.Home.Logo">
        <span style="margin-left: 5px"><i>home</i> <b>@Model.Teams.Home.Name</b> </span>
    </div>

    <div class="image">
        <img src="@Model.Teams.Away.Logo">
        <span style="margin-left: 5px"> <i>away</i> <b>@Model.Teams.Away.Name</b></span>
    </div>

}

<kendo-tabstrip name="tabstrip">

    <items>
        <tabstrip-item text="Comparison">
            <content>
                <partial name="_Comparison" model="@Model" />
            </content>
        </tabstrip-item>
    </items>

</kendo-tabstrip>


<style>

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .k-card {
        width: 285px;
        margin: 5%;
    }

    .k-card-footer {
        text-align: center;
    }

    #tabstrip-parent,
    #tabstrip {
        height: 100%;
        margin: 0;
        padding: 0;
        border-width: 0;
    }

</style>


@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
  
}


