@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

@if(Model.League != null){
    <img src="@Model.League.Flag" class="rounded photo-badge home-badge">
    <span class="product-name">@Model.League.Country</span>
    
    <div class="product-name">
        <div class="photo-badge home-badge">
            <img src="@Model.League.Logo" class="rounded">
        </div>
        <span>@Model.League.Name Season: @Model.League.Season</span>
    </div>
    @if (Model.Teams.Home != null)
    {
        <partial name="_IndividualTeam" model="@Model.Teams.Home" />
    }
    @if (Model.Teams.Away != null)
    {
        <partial name="_IndividualTeam" model="@Model.Teams.Away" />
    }
}

<kendo-tabstrip name="tabstrip">

    <items>
        <tabstrip-item text="Comparison">
            <content>
                <partial name="_Comparison" model="@Model" />
            </content>
             
        </tabstrip-item>

         <tabstrip-item text="League form">
            <content>
               <partial name="_LeagueForm" model="@Model" />
            </content>

        </tabstrip-item>
    </items>

</kendo-tabstrip>

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
}


