@model IEnumerable<PracticeApp.Models.ReceiptModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GRN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCube)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCube)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GRN">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GRN">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GRN">Delete</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
