@model SoccerStatsData.LeagueModel
@using UtilityLibraries

<div class="k-card k-card-horizontal">
    <div class="image">

        <img src="@Model.LogoURL" alt="not found" class="k-card-image" />


    </div>
    <div class="k-vbox k-column">
        <div class="k-card-header">
            <h5 class="k-card-title">@Model.Name</h5>
            <h6 class="k-card-subtitle">@Model.Type</h6>
            <h6 class="k-card-subtitle">@Model.CountryName</h6>
        </div>
        <div class="k-card-body">
            

        </div>
        <div class="k-card-actions k-card-actions-stretched k-card-actions-horizontal">
            @{
                // gives a unique name for each listview inside the league cards
                var listName = $"listView_{Model.LeagueId.ToString()}";
            }
            <span><b><i>select a season</i></b>
                @(Html.Kendo().DropDownList()
                    .Name(listName)
                    .DataTextField("Year")
                    .DataValueField("LeagueId")
                    .Events(e => e.Select("onSelect"))
                    .BindTo(Model.Seasons)
                    .Value("1")
                    .HtmlAttributes(new { style = "width: 100%" }))
            
            </span>
            
        </div>
       
    </div>
</div>







