@model SoccerStatsData.LeagueModel
@using UtilityLibraries

<div class="k-card k-card-horizontal">
    <div class="image">

        <img src="@Model.LogoURL" alt="not found" class="k-card-image" />

        @(Html.Kendo().Button()
            .Name("#btnTeam")
            .Icon("k-icon k-i-calendar")
            .Content("Team")
            .HtmlAttributes(new { type = "button", id = Model.LeagueId.ToString() })
            .Events(ev => ev.Click("onTeamClick")))
      

    </div>
    <div class="k-vbox k-column">
        <div class="k-card-header">
            <h5 class="k-card-title">@Model.Name</h5>
            <h6 class="k-card-subtitle">@Model.Type</h6>
            <h6 class="k-card-subtitle">@Model.CountryName</h6>
        </div>
        <div class="k-card-body">
            @{
                // gives a unique name for each listview inside the league cards
                var listName = $"listView_{Model.LeagueId.ToString()}";
                @if (Model.Seasons != null)
                {
                   
                }
                
               
            }

            @(Html.Kendo().DropDownList()
              .Name(listName)
              .DataTextField("Year")
              .DataValueField("LeagueId")
              .Events(e => e.Change("change").Select("onSelect"))
              .BindTo(Model.Seasons)
              .Value("1")
              .HtmlAttributes(new { style = "width: 100%", param = "lol" }))

        </div>
        <div class="k-card-actions k-card-actions-stretched k-card-actions-horizontal">
            <button class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md">
                Click here to view teams
            </button>
        </div>
        <div class="k-card-footer">
            <span>All things</span>
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="teams">
    <div class="product" data-id="#:Team.Name#">
        <img src="#:Team.Logo#" alt="#:Team.Name# image" />
        <h3>#:Team.Name#</h3>
        <p>Founded: #:Team.Founded#</p>
    </div>
</script>
<script>
    function change() {
        var param = this.element.attr("param");
        console.log(param);
    }
    function onSelect(e){
        if (e.item) {
            var dataItem = this.dataItem(e.item);
            console.log("event :: select (" + dataItem.Year + " : " + dataItem.LeagueId + ")");
        } else {
            console.log("event :: select");
        }
    }
</script>
@section scripts {
    <script src="~/js/teams.js"> </script>
}



