@model IEnumerable<SoccerStatsData.LeagueDbModel>
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>League and cup details</h1>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                @if (@item.LogoURL != null)
                {
                    <form>
                        <input type="image" src="@item.LogoURL" class="card-img-top" alt="~/images/notFound.jpg"
                               asp-controller="Team"
                               asp-action="Index"
                               asp-route-id="@item.LeagueId">
                    </form>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p>@item.Type</p>
                        <p>@item.CountryName</p>
                    </div>
                }
            </div>
        }
    </div>
</div>

