@model SoccerStatsNew.Models.HomeDisplay
@{
}
<!-- think this is dead code -->
@if (Model.LeagueList != null)
{
    <div id="home-display">
        <div class="k-card-deck-scrollwrap">
            <button class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md k-flat k-button-icon k-button-scroll">
                <span class="k-icon k-i-arrow-chevron-left"></span>
            </button>
            <div class="k-card-deck">
                @foreach (var item in Model.LeagueList)
                {
                    <div class="k-card k-card-type-rich">
                        <img src="@item.LogoURL" alt="undefined" class="k-card-image">
                        <div class="k-card-body">
                            <h5 class="k-card-title">@item.Name</h5>
                            <h6 class="k-card-subtitle">@item.CountryName</h6>
                        </div>
                        <div class="k-card-actions k-card-actions-vertical k-card-actions-stretched">
                            <span class="k-card-action">
                                <span class="k-button k-button-flat-primary k-button-flat k-button-md k-rounded-md" data-value="View details of @item.Name">
                                    <a asp-controller="Team" 
                                       asp-action="Index" 
                                       asp-route-league="@item.LeagueId">
                                       View Details 
                                   </a>
                                </span>
                            </span>
                        </div>
                    </div>
                }
                
            </div>
            <button class="k-button k-button-solid-base k-button-solid k-button-md k-rounded-md k-flat k-button-icon k-button-scroll">
                <span class="k-icon k-i-arrow-chevron-right"></span>
            </button>
        </div>
    </div>
}

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
}

<script>
    function scrollButtonClick(e) {
        var button = $(e.currentTarget);
        var scrollToLeft = button.find(".k-i-arrow-chevron-left").length !== 0;
        var scrollContainer = $(".k-card-deck").eq(0);
        var lastCard = scrollContainer.find(".k-card").last();
        var cardWidth = lastCard.outerWidth(true);


        if (scrollToLeft) {
            scrollContainer.scrollLeft(scrollContainer.scrollLeft() - cardWidth);
        } else {
            scrollContainer.scrollLeft(scrollContainer.scrollLeft() + cardWidth);
        }
    };

    $(document).ready(function () {
        var cardDeck = $(".k-card-deck-scrollwrap").eq(0);

        cardDeck.on("click", ".k-button-scroll", scrollButtonClick);
    });
</script>

