@model IEnumerable<VenuesDbModel>

@{
    ViewData["Title"] = "Index";
}
<div class="mb-3">

    <form method="post">
        <label for="City" class="form-label">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Search by city">
        <input type="submit" class="btn btn-primary" asp-controller="Venues" asp-action="Index">
    </form>
    
   
</div>
<div class="container">
    <h1>Venues</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                <form>
                    <input type="image" src="@item.Image" class="w-100"
                           asp-controller="Venues"
                           asp-action="Details"
                           asp-route-id="@item.VenueId">
                </form>

                <div class="card-body">
                    <h5 class="card-title">@item.City, @item.Country</h5>
                    <p class="card-text">Address: @item.Address</p>
                    <p class="card-text">Capacity: @item.Capacity</p>
                    <p class="card-text">Surface: @item.Surface</p>
                </div>
            </div>
        }
    </div>
</div>
