@model IEnumerable<SoccerStatsNew.Models.SeasonModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopScorers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopAssists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopCards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Injuries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predictions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.League.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Players)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopScorers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopAssists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopCards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Injuries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predictions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odds)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeasonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeasonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeasonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
