@model IEnumerable<PracticeApp.Models.ProductModel>
@{

}

@foreach (var item in Model)
{
    <div class="card custom-card-style">
        @if (item.ImageURL != null)
        {
            <form>
                <input class="card-img-top"
                       src="@item.ImageURL"
                       type="image"
                       asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@item.SKUCode" />

            </form>
        }
        else
        {
            <form>
                <input class="card-img-top"
                       src="~/images/placeholder.png"
                       type="image"
                       asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@item.SKUCode" />
            </form>
            <p><i>please upload an image for this product</i></p>
        }

        <div class="card-body">
            <h5 class="card-title">Product</h5>
            <div class="custom-text">
                @Html.DisplayNameFor(model => model.SKUCode) :
                @Html.DisplayFor(modelItem => item.SKUCode)
            </div>

            <div class="custom-text">
                @Html.DisplayNameFor(model => model.Description) :
                @Html.DisplayFor(modelItem => item.Description)
            </div>

            <div class="custom-text">
                @Html.DisplayNameFor(model => model.Weight) :
                @Html.DisplayFor(modelItem => item.Weight)
            </div>

            <div class="custom-text">
                @Html.DisplayNameFor(model => model.Height) :
                @Html.DisplayFor(modelItem => item.Height)
            </div>

            <div class="custom-text">
                @Html.DisplayNameFor(model => model.Length) :
                @Html.DisplayFor(modelItem => item.Length)
            </div>

            <div class="custom-text">

                @if (item.Items != null)
                {
                    var expectedQTY = 0.0;
                    @foreach (var items in item.Items)
                    {
                        expectedQTY += items.Quantity;
                    }
                    <label for="QTY">Expected Intake: </label> @expectedQTY
                }
            </div>
            <form>
                <input class="btn btn-danger custom-button"
                       type="submit"
                       value="Delete"
                       asp-controller="Product"
                       asp-action="Delete"
                       asp-route-id="@item.SKUCode" />
            </form>
        </div>
    </div>
}
