@model IEnumerable<PracticeApp.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="align-content-center">
        <h1>Products</h1>
        <form>
            <button class="btn btn-primary custom-button"
                    asp-controller="Product"
                    asp-action="Create">
                Create new
            </button>
        </form>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-3 mb-5 custom-text-box">
                    <div class="image-text">
                        <form>
                            <input class="thumb-nail mt-4"
                                   src="~/images/placeholder.png"
                                   type="image"
                                   asp-controller="Product"
                                   asp-action="Details"
                                   asp-route-id="@item.SKUCode" />
                            <p><i>click to edit details</i></p>
                        </form>


                    </div>
                    <div class="custom-text">
                        @Html.DisplayNameFor(model => model.SKUCode) :
                        @Html.DisplayFor(modelItem => item.SKUCode)
                    </div>
                    <div class="custom-text">
                        @Html.DisplayNameFor(model => model.Description) :
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="custom-text">
                        @Html.DisplayNameFor(model => model.Length) :
                        @Html.DisplayFor(modelItem => item.Length)
                    </div>
                    <div class="custom-text">
                        @Html.DisplayNameFor(model => model.Height) :
                        @Html.DisplayFor(modelItem => item.Height)
                    </div>
                    <div class="custom-text">
                        @Html.DisplayNameFor(model => model.Width) :
                        @Html.DisplayFor(modelItem => item.Width)
                    </div>
                    <div class="custom-text">
                        @Html.DisplayNameFor(model => model.Weight) :
                        @Html.DisplayFor(modelItem => item.Weight)
                    </div>
                    <form>
                        <button class="btn btn-danger custom-button"
                                asp-controller="Product"
                                asp-action="Delete"
                                asp-route-id="@item.SKUCode">
                            Delete
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
