@model IEnumerable<PracticeApp.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="align-content-center">
        <h1>Products</h1>
        <form>
            <button class="btn btn-primary custom-button"
                    asp-controller="Product"
                    asp-action="Create">
                Create new
            </button>
        </form>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <form>
                        <input class="card-img-top"
                               src="~/images/placeholder.png"
                               type="image"
                               asp-controller="Product"
                               asp-action="Details"
                               asp-route-id="@item.SKUCode" />
                     
                    </form>
                    <div class="card-body">
                        <h5 class="card-title">Product</h5>
                        <div class="custom-text">
                            @Html.DisplayNameFor(model => model.SKUCode) :
                            @Html.DisplayFor(modelItem => item.SKUCode)
                        </div>

                        <div class="custom-text">
                            @Html.DisplayNameFor(model => model.Description) :
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                        <form>
                            <button class="btn btn-danger custom-button"
                                    asp-controller="Product"
                                    asp-action="Delete"
                                    asp-route-id="@item.SKUCode">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
