@model SoccerStatsData.TeamModel
<div>
    <div class="image custom-image">
        <img src="@Model.Logo" />
    </div>
    <div>
        <p>Team: <span><b>@Model.Name</b></span></p>
        <p>Founded: <span><b>@Model.Founded</b></span></p>
        <p>League: <span><b>@Model.League.Name</b></span></p>
        <p>Country: <span><b>@Model.Country</b></span></p>
        
    </div>
</div>

<style>
    .custom-image {
        float: left;
    }
</style>

