@model SoccerStatsData.TeamModel

<h1 class="h2" id="itemTitle">This is the display for @Model.Name</h1>

<kendo-tabstrip name="ajax-tabstrip">
    <items>
        <tabstrip-item text="Team" selected="true">
            <content>
                <partial name="_Team" model="@Model" />
            </content>
        </tabstrip-item>

        <tabstrip-item text="League" selected="true">
            <content>
                <partial name="_League" model="@Model" />
            </content>
        </tabstrip-item>
        <tabstrip-item text="Stadium" selected="true">
            <content>
                <partial name="_Stadium" model="@Model" />
            </content>
        </tabstrip-item>
        <tabstrip-item text="Players" selected="true">
            <content>
                <partial name="_Players" model="@Model" />

            </content>
        </tabstrip-item>
    </items>
</kendo-tabstrip>

<div class="button-section">

    @(Html.Kendo().Button()
        .Name("#btnFixtures")
        .Icon("k-icon k-i-calendar")
        .Content("Fixtures")
        .HtmlAttributes(new { type = "button", param = @Model.Name })
        .Events(ev => ev.Click("onClick")))
</div>

@section scripts {
    <script src="~/js/teams.js"> </script>
}

@section styles {
    <link rel="stylesheet" href="~/css/teams.css" />
}
